<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Fonts provided by application
Fonts provided by application
Fonts provided by application</key>
	<array>
		<string>Item 0 → Manrope-Regular.ttf</string>
		<string>Item 1 → Manrope-SemiBold.ttf
Item 1 → Manrope-SemiBold.ttf
Item 1 → Manrope-SemiBold.ttf
</string>
	</array>
</dict>
</plist>
